@font-face{
	font-family: 'FontAwesome';
	font-display: auto;
	src:url("./assets/addons/be_style/fonts/fontawesome-webfont.eot?v=4.7.0");
	src:url("./assets/addons/be_style/fonts/fontawesome-webfont.eot?#iefix&v=4.7.0") format('embedded-opentype'),
		url("./assets/addons/be_style/fonts/fontawesome-webfont.woff2?v=4.7.0") format('woff2'),
		url("./assets/addons/be_style/fonts/fontawesome-webfont.woff?v=4.7.0") format('woff'),
		url("./assets/addons/be_style/fonts/fontawesome-webfont.ttf?v=4.7.0") format('truetype'),
		url("./assets/addons/be_style/fonts/fontawesome-webfont.svg?v=4.7.0#fontawesomeregular") format('svg');
}

.right {
	text-align: right;
}
.entry-body {
	padding: 0.25em 1em 2em 1em;
}
.entry-header {
	background-color: article_color_box;
	border-bottom: 1px solid navi_color_bg;
	padding: 0.25em 1em;
	width: 100%;
}
.recommendation-stars {
	font-size: 1.5em;
}
a.recommendation:hover {
	text-decoration: none;
}
.icon {
	color: #3c3c3c;
	font-family: FontAwesome;
	font-weight: normal;
	line-height: 1em;
}
.mail:before {
	color: goldenrod;
	content: "\f003";
}
.star-full:before {
	color: gold;
	content: "\f005";
}
.star-half:before {
	color: gold;
	content: "\f123";
}
.star-empty:before {
	color: gold;
	content: "\f006";
}

#guestbook_tabs {
	border-bottom: none;
}
#guestbook_tabs a.active {
	background-color: navi_color_bg;
}
#guestbook_tabs .nav-link {
	border-radius: 0.25rem 0.25rem 0rem 0rem;
	border-left: navi_color_bg 1px solid;
	border-right: navi_color_bg 1px solid;
	border-top: navi_color_bg 1px solid;
	padding: 0.75em;
}
#d2u_guestbook_module_60_1 .tab-pane {
	border: navi_color_bg 1px solid;
	padding: 15px 15px 0 15px;
}
#d2u_guestbook_module_60_1 #tab_write {
	padding-bottom: 15px;
}
.page-selection {
	background-color: article_color_box;
	border-top: 1px solid navi_color_bg;
	padding: 1em;
	text-align: center;
}
.page, .page:visited {
	background-color: navi_color_bg;
	border: 1px solid navi_color_bg;
	color: navi_color_font !important;
	padding: 0.25em 0.75em;
	margin-right: 1em;
}
.page:hover, .active-page {
	background-color: navi_color_font;
	color: navi_color_bg !important;
}
#tab_write {
	padding-bottom: 1em;
}
.hide-validation {
	display: none;
}

/* YForm */
.input-group-addon {
	min-width: 150px;
	padding: 0px !important;
}
.input-group-addon img {
	height: 100%;
}
.formcheckbox {
    margin-bottom: 1rem;
}
.btn-primary {
	background-color: article_color_h !important;
	border: none !important;
}
.input-group-btn:last-child > .btn {
    border-bottom-left-radius: 0;
    border-top-left-radius: 0;
}
.btn-default {
	background-color: article_color_h;
	border: 1px solid article_color_h;
	color: article_color_bg;
}
input[type="radio"] {
	width: 2em;
}