@font-face{
	font-family: 'FontAwesome';
	font-display: auto;
	src:url("./assets/addons/be_style/fonts/fontawesome-webfont.eot?v=4.7.0");
	src:url("./assets/addons/be_style/fonts/fontawesome-webfont.eot?#iefix&v=4.7.0") format('embedded-opentype'),
		url("./assets/addons/be_style/fonts/fontawesome-webfont.woff2?v=4.7.0") format('woff2'),
		url("./assets/addons/be_style/fonts/fontawesome-webfont.woff?v=4.7.0") format('woff'),
		url("./assets/addons/be_style/fonts/fontawesome-webfont.ttf?v=4.7.0") format('truetype'),
		url("./assets/addons/be_style/fonts/fontawesome-webfont.svg?v=4.7.0#fontawesomeregular") format('svg');
}

.right {
	text-align: right;
}
.entry-body {
	padding: 0.25em 1em 2em 1em;
}
.entry-header {
	background-color: var(--article-color-box);
	border-bottom: 1px solid var(--navi-color-bg);
	padding: 0.25em 1em;
	width: 100%;
}
a.recommendation:hover {
	text-decoration: none;
}
.icon {
	color: #3c3c3c;
	font-family: FontAwesome;
	line-height: 1em;
}
.mail:before {
	color: goldenrod;
	content: "\f003";
}
.recommendation-stars .far, .recommendation-stars .fas {
	color: gold
}

[id^="d2u_guestbook_module_60_4_"] .guestbook-tabs {
	--bs-nav-pills-border-radius: 0;
	--bs-nav-pills-link-active-bg: var(--article-color-h);
	--bs-nav-pills-link-active-color: var(--article-color-bg);
	border-bottom: 1px solid var(--article-color-h);
}
[id^="d2u_guestbook_module_60_4_"] .guestbook-tabs .nav-item {
	margin-right: 1px;
}
[id^="d2u_guestbook_module_60_4_"] .guestbook-tabs .nav-item:last-child {
	margin-right: 0;
}
[id^="d2u_guestbook_module_60_4_"] .guestbook-tabs .nav-link,
[id^="d2u_guestbook_module_60_4_"] .guestbook-tabs .nav-link:focus {
	background-color: var(--article-color-bg);
	border-left: 1px solid var(--article-color-h);
	border-right: 1px solid var(--article-color-h);
	border-top: 1px solid var(--article-color-h);
	border-bottom: none;
	border-radius: 0 !important;
	box-shadow: none;
	color: var(--bs-body-color);
	font-weight: bold;
	padding: 0.3em 0.75em;
}
[id^="d2u_guestbook_module_60_4_"] .guestbook-tabs .nav-link.active,
[id^="d2u_guestbook_module_60_4_"] .guestbook-tabs .nav-link.active:hover,
[id^="d2u_guestbook_module_60_4_"] .guestbook-tabs .nav-link.active:focus {
	background-color: var(--article-color-h);
	border-color: var(--article-color-h);
	color: var(--article-color-bg);
	margin-bottom: -1px;
	padding-bottom: calc(0.3em + 1px);
}
[id^="d2u_guestbook_module_60_4_"] .guestbook-tabs .nav-link:hover {
	background-color: var(--article-color-h10);
	color: var(--bs-body-color);
	text-decoration: none;
}
[id^="d2u_guestbook_module_60_4_"] .guestbook-tab-content {
	border: 1px solid var(--article-color-h);
	border-top: none;
	padding: 15px 15px 0 15px;
}
[id^="d2u_guestbook_module_60_4_"] .guestbook-tab-write {
	padding-bottom: 15px;
}
.page-selection {
	background-color: var(--article-color-box);
	border-top: 1px solid var(--navi-color-bg);
	padding: 1em;
	text-align: center;
}
.page, .page:visited {
	background-color: var(--navi-color-bg);
	border: 1px solid var(--navi-color-bg);
	color: var(--navi-color-font) !important;
	padding: 0.25em 0.75em;
	margin-right: 1em;
}
.page:hover, .active-page {
	background-color: var(--navi-color-font);
	color: var(--navi-color-bg) !important;
}
#tab_write {
	padding-bottom: 1em;
}
.hide-validation {
	display: none;
}

/* YForm */
.input-group-addon {
	min-width: 150px;
	padding: 0px !important;
}
.input-group-addon img {
	height: 100%;
}
.formcheckbox {
    margin-bottom: 1rem;
}
.btn-primary {
	background-color: var(--article-color-h) !important;
	border: none !important;
}
.input-group-btn:last-child > .btn {
    border-bottom-left-radius: 0;
    border-top-left-radius: 0;
}
.btn-default {
	background-color: var(--article-color-h);
	border: 1px solid var(--article-color-h);
	color: var(--article-color-bg);
}
input[type="radio"] {
	width: 2em;
}